.answer {
  width: 100%;
  height: min-content;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mathDisplay {
  font-size: 2rem;

  width: 100%;
  min-height: 13vh;
  margin: 0 auto 2rem;

  background-color: var(--answer-background);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.submitButton {
  padding: 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--button-filled);
  color: #fff;
}

.submitButton:hover {
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #22c55e;
  box-shadow: var(--box-shadow);
}

.keyboardContainer {
  width: 95%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lastRow {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.key {
  font-size: 1.3rem;
  margin: 0.5rem 0.1rem;
  padding: 0.8rem;

  color: var(--text-primary);

  border: none;
  background-color: var(--answer-background);
  border-radius: var(--border-radius);
}

.key:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--button-filled);
  box-shadow: var(--box-shadow);
}

@media only screen and (min-width: 700px) {
  .key {
    padding: 1.62rem;
  }
}
