.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*menu icon*/
.menuSlash {
  width: 2.5rem;
  height: 2px;
  background-color: var(--text-primary);
  margin: 1.5px auto;
  transition: width 0.1618s ease-out;
}

/* menu icon animation */
.menuSlashActive_middle {
  width: 2rem;
  height: 2px;
  background-color: var(--text-primary);
  margin: 1.5px auto;
  transition: width 0.1618s ease-out;
}

@media only screen and (min-width: 800px) {
  .menu {
    display: none;
  }
}
