.container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  background-color: #fff;
  color: #111;
  width: 100%;
  height: 100%;
  padding: 2rem, 3rem;
  display: flex;
  flex-direction: column;
  transition: width 200ms ease-out;
}

.titleContainer {
  width: 90%;
  border-bottom: 1px solid #111;
  margin: 0.618rem auto 1.618rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleWord {
  font-size: 2rem;
  margin: 0;
}

.link {
  margin: 1rem 0;
  padding: 1rem 0;
  font-size: 1.3rem;
}

.linkContainer {
  margin: 0 auto;
  width: 80%;
}
