.layout {
  max-width: 100vw;
  min-height: 100vh;
  font-size: 1.2rem;
  background-color: var(--background);
  color: var(--text-primary);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.main {
  min-height: 80vh;
}
