.layout {
  font-size: 1.2rem;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text-primary);
}

.container {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}

.main {
  min-height: 80vh;
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 80%;
  }
}
