.container {
  margin: 1rem auto;
  padding: 3rem 1rem;
  width: 100%;

  background-color: var(--component-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.problemInfo {
  width: 100%;
  height: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.problem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {
  margin: 1rem auto 2rem;
}

.math {
  font-size: 1.3rem;
  margin: 3rem auto;
}

.buttonContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

@media only screen and (min-width: 1000px) {
  .container {
    max-width: 60%;
  }
}
