.container {
  margin: 1rem auto;
  width: 100%;
  padding: 2rem 1rem;

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.problemInfo {
  width: 90%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.problem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {
  margin: 1rem auto 2rem;
}

.math {
  font-size: 1.3rem;
  margin: 3rem auto;
}

@media only screen and (min-width: 1000px) {
  .container {
    max-width: 60%;
  }
}
