.cardHeader {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  color: #fff;
  background-color: var(--button-filled);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.numberContainer {
  min-height: 15vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  margin: 0 auto;
  font-size: 8rem;
}
