/* Filled button styles */

.filled {
  margin: 1rem;
  text-align: center;
  width: 9rem;
  padding: 0.62rem;
  border-radius: var(--border-radius);
  background-color: var(--button-filled);
  color: var(--button-filled-text);
  box-shadow: var(--box-shadow);
}

.filled:hover {
  background-color: var(--button-filled-hover);
  box-shadow: none;
  cursor: pointer;
}

/* hollow button styles */
.hollow {
  margin: 1rem;
  text-align: center;
  min-width: 9rem;
  width: max-content;
  padding: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
}

.hollow:hover {
  background-color: var(--button-hollow-hover);
  box-shadow: var(--box-shadow);
  color: var(--button-hollow-hover-text);
  cursor: pointer;
}
