/* Filled button styles */

.filled {
  margin: 1rem auto;
  text-align: center;
  width: 13rem;
  padding: 1rem;
  border-radius: 13rem;
  box-shadow: 0px 0px 5px 1px var(--box-shadow);
  background-color: var(--button-filled);
  color: var(--button-filled-text);
}

.filled:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

/* hollow button styles */
.hollow {
  margin: 1rem auto;
  text-align: center;
  width: 13rem;
  padding: 1rem;
  border-radius: 13rem;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
}

.hollow:hover {
  background-color: var(--button-hover);
  color: var(--text-primary);
  cursor: pointer;
}
