/* Filled button styles */

.filled {
  margin: 1rem auto;
  text-align: center;
  width: 9rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid var(--text-primary);
  background-color: var(--button-filled);
  color: var(--button-filled-text);
}

.filled:hover {
  background-color: var(--button-filled-hover);
  cursor: pointer;
}

/* hollow button styles */
.hollow {
  margin: 1rem auto;
  text-align: center;
  width: 9rem;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
}

.hollow:hover {
  background-color: var(--button-hollow-hover);
  color: var(--text-primary);
  cursor: pointer;
}
