.container {
  width: 95%;
  height: 2rem;

  margin: 1rem auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  display: flex;

  overflow: hidden;
}

.barGoodStandingBorder {
  border: 2px solid var(--success);
}

.barWarningBorder {
  border: 2px solid var(--warning);
}

.barDeadBorder {
  border: 2px solid var(--error);
}

.bar {
  width: 33.33333333%;
  height: 100%;
  background-color: var(--button-filled);
}

.barDead {
  width: 33.33333333%;
  height: 100%;
  background-color: var(--background);
}
