.pageContainer {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0 auto;
  width: 90%;
}

.pageHeader {
  font-size: 4rem;
  margin: 2rem auto;
  max-width: max-content;
}

.itemContainer {
  margin: 0 auto;
  max-width: 95%;
}

.itemHeader {
  width: max-content;
  margin: 0;
  padding: 0.62rem 0;
  border-bottom: 3px solid var(--button-filled);
}

.textContainer {
  max-width: max-content;
  margin: 0;
  padding: 2rem 0;
}

@media only screen and (min-width: 799px) {
  .pageContainer {
    width: 65%;
  }

  .itemContainer {
    max-width: 80%;
  }
}
