.pageContainer {
  font-size: 1.4rem;
  margin: 0 auto;
  width: 90%;
}

.pageHeader {
  font-size: 4rem;
  margin: 2rem auto;
  width: max-content;
}

.sectionHeader {
  width: max-content;
  padding: 0.62rem 0;
  border-bottom: 3px solid var(--button-filled);
}

.specialExpressionContainer {
  margin: 4rem auto;
}

.warning {
  width: 100%;
  margin: 0;
  padding: 1.5rem;
  color: #fff;
  background-color: var(--error);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.warningText {
  width: 90%;
  margin: 1.5rem auto;
}

.mathContainer {
  text-align: center;
  font-size: larger;
  margin: 1.5rem auto;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--answer-background);
}

.sectionList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listItem {
  margin: 1.5rem auto;
}

.katexLink {
  background-color: #fef08a;
}
.katexLink:hover {
  border-bottom: 2px solid var(--button-filled);
}

@media only screen and (min-width: 799px) {
  .pageContainer {
    width: 65%;
  }
}

@media only screen and (max-width: 375px) {
  .pageContainer {
    font-size: 1.2rem;
    overflow-x: scroll;
  }
}
