.pageContainer {
  min-height: 100vh;
}
.yourNumbers {
  text-align: center;

  margin: 0;
  padding: 2rem;

  color: #fff;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  background-color: var(--button-filled);
}

.statsContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  margin: 2rem;
}

.statNumber {
  margin-top: 0;
  font-size: 2rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  text-align: center;
}
.pleaseSignInContainer {
  width: 100%;
  min-height: max-content;
  display: flex;
  justify-content: center;
}

.pleaseSignInMessage {
  font-size: 1.6rem;
  text-align: center;
  margin: 2rem;
}

.loginImage {
  margin: 1rem auto;
}
