html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* light and dark mode settings */
body.light-mode {
  --background: #f9fafb;
  --component-background: #fff;
  --text-primary: #111;
  --text-secondary: #1f2937;
  --modal-overlay: #0000005d;
  --error: #f87171;
  --success: #4ade80;
  --warning: #fde047;

  /* answer */
  --answer-background: #d4d4d456;

  /* button */
  --button-filled: #2563eb;
  --button-filled-text: #f9fafb;
  --button-filled-hover: #3b82f6;
  --button-hollow-hover: #111111;
  --button-hollow-hover-text: #fff;

  /* box shadow */
  --box-shadow: 0px 0px 10px 1px rgba(17, 17, 17, 0.219);

  /* svg button */
  --svg-button-hover: #d4d4d456;

  /* border */
  --border-radius: 8px;
}

body.dark-mode {
  --background: #171717;
  --component-background: #525252;
  --text-primary: #f9fafb;
  --text-secondary: #e5e7eb;
  --modal-overlay: #0000005d;
  --error: #f87171;
  --success: #4ade80;
  --warning: #fde047;

  /* answer */
  --answer-background: #d4d4d456;

  /* button */
  --button-filled: #2563eb;
  --button-filled-text: #f9fafb;
  --button-filled-hover: #3b83f6;
  --button-hollow-hover: #fff;
  --button-hollow-hover-text: #111111;

  /* box-shadow */
  --box-shadow: 0px 0px 10px 1px rgba(224, 224, 224, 0.048);

  /* svg button */
  --svg-button-hover: #d4d4d479;

  /* border */
  --border-radius: 8px;
}
